* {
    background-color: aqua;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    margin-left: 8px;
}
.container li a {
    color: red;
    margin-right: 20px;
}

.container li {
    text-align: end;
    margin-right: 20px;
}

.container header{
    margin-top: 5px;

}

.logo header h2{
    margin-right: 14px;
    color: red;
}


.content {
    margin-top: 120px;
}

.content h3{
    margin-top: 25px;
}

.btn li{
    margin-top: 20px;
    text-align: start;
    margin-left: 25px;
}

.image img{
    margin-left: 500px;
    width: 100vh;
    
    margin-bottom: 200px;
}
